baseURL = "https://thegradientjournal.com"
languageCode = "en-us"
title = "The Gradient Journal"

[module]
  [[module.imports]]
    path = "github.com/adityatelange/hugo-PaperMod"

[params]
  description = "A blog exploring ideas at the intersection of technology and thought"
  author = "Aloumvrios"
  
[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    name = "Posts"
    url = "/posts/"
    weight = 2
  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 3
